<?xml version='1.0' encoding='utf-8'?>
    <widget xmlns:gap="http://phonegap.com/ns/1.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    id="com.dealtargetweb.demo" 
    version="2.0.0">

        <name>DealsTarget</name>
        <description>
            Deals,coupon and product
        </description>
        <author email="rvgupta444@gmail.com"
        href="http://cordova.io">
           Orangespike  team
        </author>
    
    	
    	
    	
		  <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />

		
    	
		
  	<!--	<gap:plugin name="nl.x-services.plugins.googleplus" source="plugins.cordova.io"/> -->
  		
    	<!--Icons and Splash Screens Configuration for Mofluid Apps-->
		
		<!-- ===================== -->
		<!-- Global Configuration  -->
		<!-- ===================== -->
		<!-- Icons -->
		<icon src="resource/icon/96x96px_2.jpg" />
		<!-- Splash Screens -->
		<gap:splash src="resource/splash/480x800.jpg" />
		
		<!-- ====================== -->
		<!-- iOS Configuration      -->
		<!-- ====================== -->
		<!-- Icons -->
		
		
		
		<icon src="resource/icon/96x96px_2.jpg" gap:platform="android" width="96" height="96" />
		<icon src="resource/icon/72x72px_1.jpg" gap:platform="android" width="72" height="72" />
		<icon src="resource/icon/48x48px_1.jpg" gap:platform="android" width="48" height="48" />
		<icon src="resource/icon/36x36px_1.jpg" gap:platform="android" width="36" height="36" />
		<icon src="resource/icon/96x96px_3.jpg" gap:platform="android" width="96" height="96" />
		
		<!--
		<icon src="{{android-icon-small-2x}}" gap:platform="android" width="58" height="58" />
		<icon src="{{android-icon-40-2x}}" gap:platform="android" width="80" height="80" />
		<icon src="{{android-icon-50-2x}}" gap:platform="android" width="100" height="100" />
		<icon src="{{android-icon-57-2x}}" gap:platform="android" width="114" height="114" />
		<icon src="{{android-icon-60-2x}}" gap:platform="android" width="120" height="120" />
		<icon src="{{android-icon-72-2x}}" gap:platform="android" width="144" height="144" />
		<icon src="{{android-icon-76-2x}}" gap:platform="android" width="152" height="152" />
		-->
		<!-- Splash Screens -->
		<gap:splash src="resource/splash/480x800.jpg" gap:platform="android" width="480" height="800" />
		<gap:splash src="resource/splash/200x320.jpg" gap:platform="android" width="200" height="320" />
		<gap:splash src="resource/splash/512x512_7.jpg" gap:platform="android" width="320" height="480" />
		<gap:splash src="resource/splash/720x1280.jpg" gap:platform="android" width="720" height="1280" />
		<gap:splash src="resource/splash/800x480.jpg" gap:platform="android" width="800" height="480" />
		<gap:splash src="resource/splash/320x200.jpg" gap:platform="android" width="320" height="200" />
		<gap:splash src="resource/splash/480x320.jpg" gap:platform="android" width="480" height="320" />
		<gap:splash src="resource/splash/1280x720.jpg" gap:platform="android" width="1280" height="720" />
		
    
	     <preference name='phonegap-version' value='cli-7.0.1' />
<preference name='pgb-builder-version' value='1' />
			  <preference name="SplashScreen" value="screen" />
				<preference name="show-splash-screen-spinner" value="true"/>
				  <preference name="auto-hide-splash-screen" value="true"/>
				  <preference name="SplashScreenDelay" value="5000" />
				  <preference name="disable-cursor" value="false"/>
                  <preference name="android-minSdkVersion" value="14"/>
                <preference name="orientation" value="portrait" />
                <preference name="target-device" value="universal" />
                <preference name="DisallowOverscroll" value="true" />
          	<preference name="webviewbounce" value="false" />
			
     <plugin name="cordova-plugin-whitelist" version="1"/>
        

 <content src="index.html" />
    	<access origin="*" />
	</widget>
